<!-- <div class="container">
  <header class="bg-primary text-emphasis  text-center">THIS IS HEADER</header>
</div> -->
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">THIS IS HEADER</span>
  </div>
</nav>